In [ ]:
from datetime import datetime, timedelta, timezone
import requests
import pandas as pd
import json
import pytz

In [ ]:
key = "A_vXSwpuQ4hyNRj_8Rlw1WwVDWGgHbjp"

# Set display options
pd.set_option('display.max_rows', None)  # No limit on the number of rows displayed
pd.set_option('display.max_columns', None)  # No limit on the number of columns displayed
pd.set_option('display.width', None)  # Adjust display width for wide columns
pd.set_option('display.max_colwidth', None)  # Display full content of each column

def convert_timestamp_est(timestamp):
    # Create a UTC datetime object from the timestamp
    utc_datetime = datetime.utcfromtimestamp(timestamp).replace(tzinfo=pytz.utc)
    # Define the EST timezone
    est_timezone = pytz.timezone('America/New_York')
    # Convert the UTC datetime to EST
    est_datetime = utc_datetime.astimezone(est_timezone)
    return est_datetime


def polygon_call_stocks(contract, from_stamp, to_stamp, multiplier, timespan):
    try:
        payload={}
        headers = {}
        url = f"https://api.polygon.io/v2/aggs/ticker/{contract}/range/{multiplier}/{timespan}/{from_stamp}/{to_stamp}?adjusted=true&sort=asc&limit=50000&apiKey={key}"
        response = requests.request("GET", url, headers=headers, data=payload)
        res_df = pd.DataFrame(json.loads(response.text)['results'])
        res_df['t'] = res_df['t'].apply(lambda x: int(x/1000))
        res_df['date'] = res_df['t'].apply(lambda x: convert_timestamp_est(x))
        res_df['time'] = res_df['date'].apply(lambda x: x.time())
        res_df['hour'] = res_df['date'].apply(lambda x: x.hour)
        res_df['minute'] = res_df['date'].apply(lambda x: x.minute)
        return res_df
    except Exception as e:  
        print(e)
        return pd.DataFrame()

In [15]:
df = polygon_call_stocks('TSLA', '2024-04-26', '2024-04-26', '15', 'minute')
df[['date','o','c']]

                        date        o         c
0  2024-04-26 04:00:00-04:00  173.140  172.9000
1  2024-04-26 04:15:00-04:00  172.900  172.8000
2  2024-04-26 04:30:00-04:00  172.880  173.2300
3  2024-04-26 04:45:00-04:00  173.260  172.9200
4  2024-04-26 05:00:00-04:00  172.890  172.9100
5  2024-04-26 05:15:00-04:00  172.870  172.3500
6  2024-04-26 05:30:00-04:00  172.260  172.5600
7  2024-04-26 05:45:00-04:00  172.550  172.4700
8  2024-04-26 06:00:00-04:00  172.580  171.8000
9  2024-04-26 06:15:00-04:00  171.800  172.3100
10 2024-04-26 06:30:00-04:00  172.250  172.2500
11 2024-04-26 06:45:00-04:00  172.300  171.7100
12 2024-04-26 07:00:00-04:00  171.810  172.4900
13 2024-04-26 07:15:00-04:00  172.440  172.0000
14 2024-04-26 07:30:00-04:00  171.980  170.6500
15 2024-04-26 07:45:00-04:00  170.600  171.3200
16 2024-04-26 08:00:00-04:00  172.200  171.4234
17 2024-04-26 08:15:00-04:00  171.410  169.5000
18 2024-04-26 08:30:00-04:00  169.600  168.8996
19 2024-04-26 08:45:00-04:00  168.900  169.3200
20 2024-04-26 09:00:00-04:00  169.310  169.0800
21 2024-04-26 09:15:00-04:00  169.100  168.8500
22 2024-04-26 09:30:00-04:00  168.850  168.9600
23 2024-04-26 09:45:00-04:00  168.900  168.2800
24 2024-04-26 10:00:00-04:00  168.330  169.5659
25 2024-04-26 10:15:00-04:00  169.579  168.4031
26 2024-04-26 10:30:00-04:00  168.430  169.0366
27 2024-04-26 10:45:00-04:00  169.013  169.8800
28 2024-04-26 11:00:00-04:00  169.890  170.5401
29 2024-04-26 11:15:00-04:00  170.535  170.6400